<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!---context-param是上下文参数-->
    <context-param>
        <param-name>username</param-name>
        <param-value>contextUsername</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>contextPassword</param-value>
    </context-param>

    <!--servlet标签给Tomcat配置Servlet程序-->
    <servlet>
        <!--servlet-name标签给Servlet程序起一个别名-->
        <servlet-name>HelloServlet</servlet-name>
        <!--servlet-class标签是Servlet程序的全类名-->
        <servlet-class>test.HelloServlet</servlet-class>
        <!--init-param是初始化参数-->
        <init-param>
            <!--param-name是参数名-->
            <param-name>username</param-name>
            <!--param-value是参数值-->
            <param-value>root</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>abc123</param-value>
        </init-param>
    </servlet>
    <!--servlet-mapping标签给Servlet程序配置访问地址-->
    <servlet-mapping>
        <!--servlet-name标签告诉服务器，当前配置的地址给哪个Servlet程序使用-->
        <servlet-name>HelloServlet</servlet-name>
        <!--url-pattern标签配置访问地址
                / 斜杠在服务器解析的时候，表示地址为: http://ip:port/工程路径
                /hello 表示地址为: http://ip:port/工程路径/hello
        -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HelloHttpServlet</servlet-name>
        <servlet-class>test.HelloHttpServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloHttpServlet</servlet-name>
        <url-pattern>/hellohttp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>HelloHttpServlet2</servlet-name>
        <servlet-class>test.HelloHttpServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloHttpServlet2</servlet-name>
        <url-pattern>/hellohttp2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ContextServlet</servlet-name>
        <servlet-class>test.ContextServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextServlet</servlet-name>
        <url-pattern>/contextServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ContextServlet2</servlet-name>
        <servlet-class>test.ContextServlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContextServlet2</servlet-name>
        <url-pattern>/contextServlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RequestAPIServlet</servlet-name>
        <servlet-class>test.RequestAPIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestAPIServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ParameterServlet</servlet-name>
        <servlet-class>test.ParameterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParameterServlet</servlet-name>
        <url-pattern>/parameter</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>test.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>test.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ForwardC</servlet-name>
        <servlet-class>test2.ForwardC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ForwardC</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResponseIO</servlet-name>
        <servlet-class>test2.ResponseIOServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResponseIO</servlet-name>
        <url-pattern>/response</url-pattern>
    </servlet-mapping>

</web-app>